@media (min-width: 1024px) {
  .container {
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
  }
}

.main {
  width: 100%;

  .title-block {
    width: 80%;
    margin: 40px auto 0;

    .el-carousel__item:nth-child(2n) {
      background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
      background-color: #d3dce6;
    }
  }

  .body {
    width: 80%;
    margin:40px auto 100px;
    display: flex;
    justify-content: space-between;
    height: auto;

    .left {
      width: 20%;
      height: 800px;
      //margin-left: 150px;
      background-color: #a1a1a1;
    }

    .right {
      width: 75%;
      height: auto;
      //margin-left: auto;
      //margin-right: 150px;
      padding-bottom: 50px;
      background-color: #e2e2e2;

      .block {
        display: grid;
        width: 100%;

        .block-title {
          width: 100%;
          margin-left: 30px;
          font-size: 20px;
          font-weight: bold;
          color: #181818;
          font-family: "Microsoft YaHei", sans-serif;
          margin-bottom: 20px;
        }

        .block-main {
          display: flex;
          width: 100%;

          .item1 {
            display: flex;
            flex-direction: column;
            width: 45%;
            margin-left: 30px;
            height: 270px;
            //background-color: #4f7df0;
            //overflow: hidden;

            .image {
              height: 90%;
              overflow: hidden;

              img {
                width: 100%;
              }
            }

            .cover {
              display: flex;
              flex-direction: column;
              height: 20%;
              background-color: white;

              p {
                margin-left: 10px;
                font-size: 15px;

                &.p1 {
                  font-weight: bold;
                  font-size: 16px;
                }

                &.p2 {
                  margin-bottom: 5px;
                  font-size: 15px;
                }

              }
            }
          }

          .item2 {
            width: 95%;
            height: 200px;
            margin-left: 30px;

            .el-carousel__item h3 {
              color: #475669;
              font-size: 14px;
              opacity: 0.75;
              line-height: 150px;
              margin: 0;
            }

            .el-carousel__item:nth-child(2n) {
              background-color: #99a9bf;
            }

            .el-carousel__item:nth-child(2n+1) {
              background-color: #d3dce6;
            }
          }
        }

        .block-cards {
          display: flex;
          width: 100%;

          .card {
            width: 160px;
            height: 210px;
            margin-left: 20px;
            margin-top: 30px;
            border-radius: 20px;
            background: #f5f5f5;
            //background-image: url("../../assets/images/灯泡.jpg");
            //background-size: cover;
            //background-repeat: no-repeat;
            position: relative;
            padding: 1.0rem;
            border: 2px solid #c3c6ce;
            transition: 0.5s ease-out;
            overflow: visible;

            .card-details {
              color: black;
              height: 100%;
              gap: .5em;
              display: grid;
              place-content: center;

              .card-image {
                overflow: hidden;

                img {
                  width: 100%;
                }
              }

              .text-body {
                color: rgb(134, 134, 134);
                font-size: 12px;
              }

              /*Text*/
              .text-title {
                font-size: 15px;
                font-weight: bold;
              }
            }

            .card-button {
              transform: translate(-50%, 125%);
              width: 60%;
              border-radius: 1rem;
              border: none;
              background-color: #008bf8;
              color: #fff;
              font-size: 9px;
              padding: .5rem 1rem;
              position: absolute;
              left: 50%;
              bottom: 0;
              opacity: 0;
              transition: 0.3s ease-out;
              cursor: pointer;
            }

          }

          /*Hover*/
          .card:hover {
            border-color: #008bf8;
            box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
          }

          .card:hover .card-button {
            transform: translate(-50%, 50%);
            opacity: 1;
          }
        }
      }
    }
  }
}

