@media (min-width: 1024px) {
  .container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    background-color: #f5f5f5;
  }
}

.main {
  width: 100%;
  height: auto;

  .kind {
    margin: 100px auto 0;
    width: 80%;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    background-image: url("../../assets/images/bgi.jpg");

    .info {
      width: 70%;
      display: flex;
      flex-direction: column;
      padding: 30px 50px;

      .text1 {
        font-size: 30px;
        font-weight: 600;
        color: #ffffff;
      }

      .text2 {
        font-size: 20px;
        font-weight: 400;
        color: #e1e1e1;
      }

    }

  }

  .title {
    display: flex;
    width: 80%;
    height: 60px;
    //background-color: #e2e2e2;
    margin: 10px auto 0;

    .title-item {
      margin: auto 20px auto;
      text-align: center;
      width: 80px;
      height: 30px;

      .text {
        font-size: 15px;
        color: #181818;
        line-height: 30px;
        cursor: pointer;

        &:hover {
          color: #5968f3
        }
      }
    }

    .title-item.selected {
      background-color: #5968f3;
      border-radius: 3px;

      .text {
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
      }
    }


    .search {
      margin: auto 0 auto auto;

      .input-container {
        line-height: 50px;
        width: 350px;
        position: relative;
      }

      .icon {
        position: absolute;
        right: 15px;
        top: calc(50% + 10px);
        transform: translateY(calc(-50% - 5px));
      }

      .input {
        width: 100%;
        height: 40px;
        padding: 10px;
        transition: .2s linear;
        border: 2.5px solid black;
        border-radius: 5px;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .input:focus {
        outline: none;
        border: 0.5px solid black;
        box-shadow: -5px -5px 0px black;
      }

      .input-container:hover > .icon {
        animation: anim 1s linear infinite;
      }

      @keyframes anim {
        0%,
        100% {
          transform: translateY(calc(-50% - 5px)) scale(1);
        }

        50% {
          transform: translateY(calc(-50% - 5px)) scale(1.1);
        }
      }
    }

  }

  .body {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0 auto;

    .left {
      width: 100%;
      height: 700px;
      //background-color: #e2e2e2;

      .item {
        display: flex;
        justify-content: space-between;
        .knowledge{
          display: flex;
          width: 70%;
          height: 150px;
          margin: 10px 0;
          border-bottom: 1px solid #f0f0f2;
          border-radius: 10px;
          background-color: white;
          cursor: pointer;

          &:hover {
            box-shadow: #e2e2e2 0 0 5px 5px;
          }

          .image {
            height: 80%;
            width: 20%;
            margin: auto 10px;
            overflow: hidden;

            img {
              width: 100%;
            }
          }

          .info {
            width: 80%;
            display: flex;
            flex-direction: column;
            //background-color: #4f7df0;
            .title-tag {
              margin-top: 10px;
              font-size: 20px;
              font-weight: 500;
              color: #222226;
              overflow: hidden;
              white-space: normal;
              word-break: break-word;
              line-height: 40px;
              margin-bottom: 4px;
            }

            .desc {
              font-size: 15px;
              font-weight: 400;
              color: #555666;
              overflow: hidden;
              white-space: normal;
              word-break: break-word;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }

            .author {
              margin-top: auto;
              margin-bottom: 20px;
              font-size: 14px;
              font-weight: 400;
              color: #555666;
            }
          }
        }
        .game {
          width: 28%;
          .card {
            width: 100%;
            height: 150px;
            margin-top: 10px;
            border-radius: 10px;
            background: #ffffff;
            position: relative;
            transition: 0.5s ease-out;
            overflow: visible;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .card-image {
              height: 50%;
              border-radius: 10px 10px 0 0;
              overflow: hidden;

              img {
                width: 100%;
              }
            }

            .card-details {
              padding: 1.0rem;
              color: black;
              height: 50%;
              gap: .5em;
              display: grid;
              place-content: center;

              /*Text*/
              .text-title {
                font-size: 15px;
                font-weight: bold;
              }
            }
          }

          /*Hover*/
          .card:hover {
            border-color: #008bf8;
            box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
          }

          .card:hover .card-button {
            transform: translate(-50%, 50%);
            opacity: 1;
          }

        }
      }



      .right {
        width: 20%;
        height: 700px;
        margin-top: 20px;
        background-color: #ffffff;

        p {
          width: 90%;
          margin: 0 auto;
          font-size: 18px;
          font-weight: bold;
          @include basic_font;
        }

        .item {
          width: 90%;
          height: 50px;
          margin: 0 auto;


        }


        //.card p {
        //  font-size: 17px;
        //  font-weight: 600;
        //  line-height: 20px;
        //  color: #666;
        //  margin:5px;
        //}
        //
        //.card p.small {
        //  font-size: 14px;
        //  font-weight: 400;
        //}
        //
        //.go-corner {
        //  display: flex;
        //  align-items: center;
        //  justify-content: center;
        //  position: absolute;
        //  width: 32px;
        //  height: 32px;
        //  overflow: hidden;
        //  top: 0;
        //  right: 0;
        //  background-color: #00838d;
        //  border-radius: 0 4px 0 32px;
        //}
        //
        //.go-arrow {
        //  margin-top: -4px;
        //  margin-right: -4px;
        //  color: white;
        //  font-family: courier, sans, serif;
        //}
        //
        //.card1 {
        //  display: block;
        //  position: relative;
        //  max-width: 262px;
        //  background-color: #f2f8f9;
        //  border-radius: 4px;
        //  padding: 20px 13px;
        //  margin: 12px;
        //  text-decoration: none;
        //  z-index: 0;
        //  overflow: hidden;
        //}
        //
        //.card1:before {
        //  content: "";
        //  position: absolute;
        //  z-index: -1;
        //  top: -16px;
        //  right: -16px;
        //  background: #00838d;
        //  height: 32px;
        //  width: 32px;
        //  border-radius: 32px;
        //  transform: scale(1);
        //  transform-origin: 50% 50%;
        //  transition: transform 0.25s ease-out;
        //}
        //
        //.card1:hover:before {
        //  transform: scale(21);
        //}
        //
        //.card1:hover p {
        //  transition: all 0.3s ease-out;
        //  color: #ffffff;
        //}
        //
        //.card1:hover h3 {
        //  transition: all 0.3s ease-out;
        //  color: #fff;
        //}
      }
    }
  }
}
