@media (min-width: 1024px) {
  .container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
  }
}

.main {
  width: 100%;
  height: auto;

  .title {
    display: flex;
    width: 80%;
    height: 60px;
    background-color: #e2e2e2;
    margin: 120px auto 0;

    p {
      font-size: 15px;
      color: #181818;
      margin-left: 30px;
      margin-right: 30px;
      line-height: 60px;
    }

    .search {
      margin:auto 50px auto auto;

      .input-container {
        line-height: 50px;
        width: 350px;
        position: relative;
      }

      .icon {
        position: absolute;
        right: 15px;
        top: calc(50% + 10px);
        transform: translateY(calc(-50% - 5px));
      }

      .input {
        width: 100%;
        height: 40px;
        padding: 10px;
        transition: .2s linear;
        border: 2.5px solid black;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .input:focus {
        outline: none;
        border: 0.5px solid black;
        box-shadow: -5px -5px 0px black;
      }

      .input-container:hover > .icon {
        animation: anim 1s linear infinite;
      }

      @keyframes anim {
        0%,
        100% {
          transform: translateY(calc(-50% - 5px)) scale(1);
        }

        50% {
          transform: translateY(calc(-50% - 5px)) scale(1.1);
        }
      }
    }

  }

  .body {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 40px auto 0 auto;

    .left {
      width: 76%;
      height: 700px;
      background-color: #e2e2e2;

      .item {
        display: flex;
        width: 100%;
        height: 150px;
        margin: 20px 0;
        border-bottom: 1px solid #f0f0f2;
        background-color: white;
        cursor: pointer;

        .image {
          height: 80%;
          width: 20%;
          margin: auto 10px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        .info {
          width: 80%;
          display: flex;
          flex-direction: column;
          //background-color: #4f7df0;
          .title-tag {
            margin-top: 10px;
            font-size: 20px;
            font-weight: 500;
            color: #222226;
            overflow: hidden;
            white-space: normal;
            word-break: break-word;
            line-height: 40px;
            margin-bottom: 4px;
          }

          .desc {
            font-size: 15px;
            font-weight: 400;
            color: #555666;
            overflow: hidden;
            white-space: normal;
            word-break: break-word;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }

          .author {
            margin-top: auto;
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: 400;
            color: #555666;
          }
        }
      }

    }

    .right {
      width: 20%;
      height: 700px;
      background-color: #a1a1a1;

      p {
        width: 90%;
        margin: 0 auto;
        font-size: 20px;
        font-weight: bold;
      }

      .item {
        width: 90%;
        height: 80px;
        margin: 0 auto;
        background-color: #4f7df0;
      }
    }
  }
}
