@media (min-width: 1024px) {
  .container {
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    align-items: center;
    background-image: url("../../assets/images/bgi.jpg");
    background-size: cover;
    background-repeat: repeat;
  }
}

//动画
@keyframes cardEnter {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes buttonEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  overflow: hidden;
  .game-main {
    width: 80%;
    height: 595px;
    background-color: white;
    margin: 10px auto 0;
    overflow: hidden;
    .play-btn {
      width: 150px;
      height: 120px;
      margin: 20% auto 0;
      cursor: pointer;
      img {
        width: 150px;
        height: 120px;
      }
      &:hover {
        transform: scale(1.05);
      }
    }

    .choose-mode {
      width: 50%;
      height: 200px;
      margin: 15% auto;
      background-color: #e2e2e2;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
      .choose-title {
        height: 100px;
        line-height: 100px;
        font-size: 23px;
      }
      .choose-buttons {
        width: 60%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        @include pretty_button(150px, 40px);
        .button {
          font-size: 15px;
          padding: 0;
        }
      }
    }

    .fullScreen {
      top: 0px;
      float: left;
      width: 3%;
      height: 5%;
      font-size: 30px;
      color: black;
      position: relative;
    }

    .chatRoom {
      top: 0px;
      left: 90%;
      width: 3%;
      height: 5%;
      font-size: 30px;
      color: black;
      position: relative;
    }

    .exitGame {
      top: 0px;
      float: right;
      color: red;
      background-color: transparent;
      border: 1px solid transparent;
      font-size: 30px;
      width: 3%;
      height: 5%;
      position: relative;
    }

    .choose-character {
      margin: auto;
      margin-top: 6%;
      height: 70%;
      width: 80%;
      //   background-color: aqua;
      .character {
        background-color: white;
        height: 100%;
        width: 30%;
        border: 1px solid black;
        float: left;
        margin-left: 10%;
        margin-right: 10%;
        opacity: 0;
        transform: translateX(0);
        // 动画效果
        animation: cardEnter 1s forwards;
        position: relative;
        left: 0;
        &.active {
          transition: 0.5s;
          height: 110%;
          width: 40%;
          position: sticky;
          // margin-top:-50%;
          margin-left: 30%;
          // z-index: 100;
        }
        &.hide {
          transition: 0.5s;
          display: none;
        }
        .character-image {
          height: 70%;
          width: 100%;
          background-size: contain;
        }
        .character-name {
          height: 10%;
          width: 100%;
          font-size: 25px;
          font-family: coca_cola;
        }
        .character-confirm {
          z-index: 100;
          animation: buttonEnter 0.5s forwards;
          margin-top: 6%;
          width: 100%;
          height: 13%;
          // background-color: aqua;
          .selectButton {
            margin-top: 2%;
            margin-left: 5%;
            margin-right: 5%;
            height: 80%;
            width: 40%;
            font-family: coca_cola;
            font-size: 20px;
            color: white;
            background-color: black;
            &:hover {
              background-color: white;
              color: black;
              border: 1px solid black;
              transition: 0.5s;
            }
          }
        }
      }
    }
    .chatCharacter {
      // position: absolute;
      width: 17%;
      height: 60%;
      background-color: #39bda7;
    }
    .chatBox {
      // margin-top: -34%;
      width: 100%;
      height: 35%;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: hidden;
      z-index: 10000;
      .chat-content {
        margin-top: 1.5%;
        margin-bottom: 1%;
        margin-left: 5%;
        width: 90%;
        height: 65%;
        font-size: 25px;
        word-break: break-all;
        color: white;
      }
      .chat-page-previous {
        margin-left: 75%;
        width: 10%;
        height: 17%;
      }
      .chat-page-next {
        margin-left: 2%;
        width: 10%;
        height: 17%;
      }
    }
    .interaction {
      width: 100%;
      margin-top: -58%;
      height: 104%;
      background-color: rgba(0, 0, 0, 0.5);
      .choice {
        background-color: rgb(11, 133, 82);
        height: 40%;
        width: 20%;
        border: 1px solid black;
        float: left;
        margin-left: 6%;
        margin-top: 10%;
        opacity: 0;
        transform: translateX(0);
        // 动画效果
        animation: cardEnter 1s forwards;
        position: relative;
        left: 0;
        &.active {
          transition: 0.5s;
          height: 50%;
          width: 30%;
          position: sticky;
          // margin-top:-50%;
          margin-left: 30%;
          // z-index: 100;
        }
        &.hide {
          transition: 0.5s;
          display: none;
        }
        .character-image {
          height: 70%;
          width: 100%;
          background-size: contain;
        }
        .character-name {
          height: 10%;
          width: 100%;
          font-size: 25px;
          font-family: coca_cola;
        }
        .character-confirm {
          z-index: 100;
          animation: buttonEnter 0.5s forwards;
          margin-top: 6%;
          width: 100%;
          height: 13%;
          // background-color: aqua;
          .selectButton {
            margin-top: 2%;
            margin-left: 5%;
            margin-right: 5%;
            height: 80%;
            width: 40%;
            font-family: coca_cola;
            font-size: 20px;
            color: white;
            background-color: black;
            &:hover {
              background-color: white;
              color: black;
              border: 1px solid black;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
  .game-actions {
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @include pretty_button(600px, 60px);
  }
  .key-plot{
    margin: 20px auto;
    width: 80%;
    height: auto;
    display: flex;
    .chat{
      width: 50%;
      height:100%;
      background-color: #f2f2f2;
      .chat-card {
        width: 90%;
        height: 100%;
        margin: 10px auto 10px auto;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .chat-header {
        padding: 10px;
        height:45px;
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
      }

      .chat-header .h2 {
        font-size: 16px;
        color: #333;
      }

      .el-scrollbar{
        padding-bottom:10px;
      }

      .chat-body {
        padding: 20px;
        height: 400px;
      }

      .message {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
      }

      .incoming {
        background-color: #e1e1e1;
      }

      .outgoing {
        background-color: #f2f2f2;
        text-align: right;
      }

      .message p {
        font-size: 15px;
        color: #333;
        margin: 0;
      }

      .chat-footer {
        height:55px;
        padding: 10px;
        background-color: #f2f2f2;
        display: flex;
      }

      .chat-footer input[type="text"] {
        flex-grow: 1;
        padding: 5px 5px 5px 10px;
        border: none;
        outline: none;
        border-radius: 3px;
        height:35px;
        font-size: 15px;
      }

      .chat-footer button {
        width: 80px;
        padding: 5px 10px;
        border: none;
        background-color: #4285f4;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius: 0 3px 3px 0;
      }

      .chat-footer button:hover {
        background-color: #0f9d58;
      }

      @keyframes chatAnimation {
        0% {
          opacity: 0;
          transform: translateY(10px);
        }

        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .chat-card .message {
        animation: chatAnimation 0.3s ease-in-out;
        animation-fill-mode: both;
        animation-delay: 0.1s;
      }

      .chat-card .message:nth-child(even) {
        animation-delay: 0.2s;
      }

      .chat-card .message:nth-child(odd) {
        animation-delay: 0.3s;
      }

    }
    .sort{
      width: 50%;
      height:100%;
      background-color: #f2f2f2;

    }

  }
  .game-info {
    width: 80%;
    height: auto;
    background-color: #ffffff;
    margin: 10px auto;
    padding: 20px;
    .title{
      display: flex;
      justify-content: space-between;
      .text1{
        font-size: 18px;
        font-weight: 550;
      }
    }
    .desc{
      .text2{
        margin-top: 10px;
      }
    }
    .images{
      width: 100%;
      margin-top: 10px;
      height: 160px;
      display: flex;
      .image{
        width: 230px;
        margin-right: 20px;
        overflow: hidden;
        img{
          height: 100%;
          //width: 200px;

        }
      }

    }
  }
}
