@media (min-width: 1024px) {
  .container {
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    align-items: center;
    background-image: url("../../assets/images/bgi.jpg");
    background-size: cover;
    background-repeat: repeat;
  }
}

@mixin pretty_button($width, $height) {
  .button {
    width: $width;
    height: $height;
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
  }

  .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  .button:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
  }

  .button:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  .button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
}

//动画
@keyframes cardEnter {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes buttonEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.main {
  width: 80%;
  height: 800px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  overflow: hidden;
  .game-main {
    width: 80%;
    height:70%;
    background-color: white;
    margin: 10px auto 0;
    overflow: hidden;
    .play-btn {
      width: 150px;
      height: 120px;
      margin: 20% auto 0;
      cursor: pointer;
      img {
        width: 150px;
        height: 120px;
      }
    }

    .choose-mode {
      width: 50%;
      height: 200px;
      margin: 15% auto;
      background-color: #e2e2e2;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
      .choose-title {
        height: 100px;
        line-height: 100px;
        font-size: 28px;
      }
      .choose-buttons {
        width: 60%;
        height: 150px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        @include pretty_button(150px, 50px);
      }
    }

    .fullScreen {
      top: 0px;
      float: left;
      width: 3%;
      height: 5%;
      font-size: 30px;
      color:black;
      position: relative;
    }

    .chatRoom {
      top: 0px;
      left: 90%;
      width: 3%;
      height: 5%;
      font-size: 30px;
      color:black;
      position: relative;
    }

    .exitGame {
      top: 0px;
      float: right;
      color: red;
      background-color: transparent;
      border: 1px solid transparent;
      font-size: 30px;
      width: 3%;
      height: 5%;
      position: relative;
    }

    .choose-character {
      margin: auto;
      margin-top: 6%;
      height: 70%;
      width: 80%;
      //   background-color: aqua;
      .character {
        background-color: white;
        height: 100%;
        width: 30%;
        border: 1px solid black;
        float: left;
        margin-left: 10%;
        margin-right: 10%;
        opacity: 0;
        transform: translateX(0);
        // 动画效果
        animation: cardEnter 1s forwards;
        position: relative;
        left: 0;
        &.active {
          transition: 0.5s;
          height: 110%;
          width: 40%;
          position: sticky;
          // margin-top:-50%;
          margin-left: 30%;
          // z-index: 100;
        }
        &.hide {
          transition: 0.5s;
          display: none;
        }
        .character-image {
          height: 70%;
          width: 100%;
          background-size: contain;
        }
        .character-name {
          height: 10%;
          width: 100%;
          font-size: 25px;
          font-family: coca_cola;
        }
        .character-confirm {
          z-index: 100;
          animation: buttonEnter 0.5s forwards;
          margin-top: 6%;
          width: 100%;
          height: 13%;
          // background-color: aqua;
          .selectButton {
            margin-top: 2%;
            margin-left: 5%;
            margin-right: 5%;
            height: 80%;
            width: 40%;
            font-family: coca_cola;
            font-size: 20px;
            color: white;
            background-color: black;
            &:hover {
              background-color: white;
              color: black;
              border: 1px solid black;
              transition: 0.5s;
            }
          }
        }
      }
    }
    .chatCharacter{
      // position: absolute;
      width:17%;
      height:60%;
      background-color: #39bda7;
    }
    .chatBox {
      // margin-top: -34%;
      width: 100%;
      height: 35%;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: hidden;
      z-index: 10000;
      .chat-content{
        margin-top: 1.5%;
        margin-bottom: 1%;
        margin-left: 5%;
        width:90%;
        height:65%;
        font-size:25px;
        word-break: break-all;
        color: white;
      }
      .chat-page-previous{
        margin-left: 75%;
        width:10%;
        height:17%;
      }
      .chat-page-next{
        margin-left: 2%;
        width:10%;
        height:17%;
      }
    }
    
  }
  .game-info {
    width: 80%;
    height: 100px;
    background-color: #a1a1a1;
    margin: 20px auto;
  }
  .game-actions {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @include pretty_button(600px, 60px);
  }
}
