<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.csu.ycepspring.mapper.InterestMapper">
    <insert id="insertInterest">
        insert into interest(account, item_id)
        values (#{account}, #{itemId});
    </insert>
    <delete id="deleteOldInterest">
        delete
        from interest
        where account = #{account};
    </delete>
    <select id="selectMyInterest" resultType="cn.edu.csu.ycepspring.entity.po.mysql.Item">
        select item.item_id, item.item_name
        from interest
                 inner join item on interest.item_id = item.item_id
        where account = #{account};
    </select>
    <select id="selectKnowledgeByInterest" resultType="cn.edu.csu.ycepspring.entity.po.mysql.Knowledge">
        select k.*
        from interest as i
                 inner join knowledge as k on i.item_id = k.item_id
        where i.account = #{account}
        order by rand() limit 10;
    </select>
    <select id="selectGameByInterest" resultType="cn.edu.csu.ycepspring.entity.po.mysql.Game">
        select g.*
        from (interest as i
            inner join knowledge as k on i.item_id = k.item_id)
                 inner join game as g on k.knowledge_id = g.knowledge_id
        where i.account = #{account}
        order by rand() limit 10;
    </select>
</mapper>