<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.csu.ycepspring.mapper.MainPageMapper">
    <select id="selectKindAndItem" resultMap="selectKindAndItemMap">
        select *
        from kind as k
                 left join item as i on k.kind_id = i.kind_id;
    </select>
    <resultMap id="selectKindAndItemMap" type="cn.edu.csu.ycepspring.entity.po.mysql.Kind">
        <id property="kindId" column="kind_id"/>
        <result property="kindName" column="kind_name"/>
        <collection property="items" ofType="cn.edu.csu.ycepspring.entity.po.mysql.Item">
            <id property="itemId" column="item_id"/>
            <result property="itemName" column="item_name"/>
        </collection>
    </resultMap>
    <select id="selectGameByKnowledgeId" resultType="cn.edu.csu.ycepspring.entity.po.mysql.Game">
        select *
        from game
        where knowledge_id = #{knowledgeId}
    </select>

    <select id="selectKnowledgeAndGame" resultMap="selectKnowledgeAndGameMap">
        select *
        from knowledge
        where item_id = #{itemId}
    </select>
    <resultMap id="selectKnowledgeAndGameMap" type="cn.edu.csu.ycepspring.entity.dto.KnowledgeAndGame">
        <id property="id" column="knowledge_id"/>
        <result property="imgSrc" column="img_src"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="desc" column="description"/>
        <association property="game" javaType="cn.edu.csu.ycepspring.entity.dto.GameVO"
                     select="selectOneGameByKnowledgeId" column="knowledge_id"/>
    </resultMap>
    <select id="selectOneGameByKnowledgeId" resultMap="selectOneGameByKnowledgeIdMap">
        select *
        from game
        where knowledge_id = #{knowledgeId}
        order by game_id desc limit 1;
    </select>
    <resultMap id="selectOneGameByKnowledgeIdMap" type="cn.edu.csu.ycepspring.entity.dto.GameVO">
        <id property="id" column="game_id"/>
        <result property="imgSrc" column="img_src"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="desc" column="description"/>
    </resultMap>
    <select id="selectKindNameByItemId" resultType="java.lang.String">
        select k.kind_name
        from item as i
                 inner join kind as k on i.kind_id = k.kind_id
        where i.item_id = #{itemId};
    </select>

    <select id="selectKnowledgeAndGameByKind" resultMap="selectKnowledgeAndGameByKindMap">
        select k.kind_name,
               kn.knowledge_id,
               kn.img_src     as i1,
               kn.title       as t1,
               kn.author      as a1,
               kn.description as d1,
               g.game_id,
               g.img_src      as i2,
               g.title        as t2,
               g.author       as a2,
               g.description  as d2
        from (((kind as k
            left join item as i on k.kind_id = i.kind_id)
            left join knowledge as kn on i.item_id = kn.item_id)
            left join game as g on kn.knowledge_id = g.knowledge_id)
        where g.game_id in (select max(game_id) from game group by knowledge_id)
          and k.kind_id = #{kindId} limit #{num}
        offset #{start_index};
    </select>
    <resultMap id="selectKnowledgeAndGameByKindMap" type="cn.edu.csu.ycepspring.entity.dto.KnowledgeAndGame">
        <id property="id" column="knowledge_id"/>
        <result property="imgSrc" column="i1"/>
        <result property="title" column="t1"/>
        <result property="author" column="a1"/>
        <result property="desc" column="d1"/>
        <result property="kindName" column="kind_name"/>
        <association property="game">
            <id property="id" column="game_id"/>
            <result property="imgSrc" column="i2"/>
            <result property="title" column="t2"/>
            <result property="author" column="a2"/>
            <result property="desc" column="d2"/>
            <result property="kindName" column="kind_name"/>
        </association>
    </resultMap>
    <select id="selectKnowledgeAndGameByKindCount" resultType="java.lang.Integer">
        select count(*)
        from (((kind as k
            left join item as i on k.kind_id = i.kind_id)
            left join knowledge as kn on i.item_id = kn.item_id)
            left join game as g on kn.knowledge_id = g.knowledge_id)
        where g.game_id in (select max(game_id) from game group by knowledge_id)
          and k.kind_id = #{kindId};
    </select>
</mapper>