<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.csu.ycepspring.mapper.MainPageMapper">
    <select id="selectKindAndItem" resultMap="selectKindAndItemMap">
        select *
        from kind as k
                 left join item as i on k.kind_id = i.kind_id;
    </select>
    <resultMap id="selectKindAndItemMap" type="cn.edu.csu.ycepspring.entity.Kind">
        <id property="kindId" column="kind_id"/>
        <result property="kindName" column="kind_name"/>
        <collection property="items" ofType="cn.edu.csu.ycepspring.entity.Item">
            <id property="itemId" column="item_id"/>
            <result property="itemName" column="item_name"/>
        </collection>
    </resultMap>
    <select id="selectGameByKnowledgeId" resultType="cn.edu.csu.ycepspring.entity.Game">
        select *
        from game
        where knowledge_id = #{knowledgeId}
    </select>

    <select id="selectKnowledgeAndGame" resultMap="selectKnowledgeAndGameMap">
        select *
        from knowledge
        where item_id = #{itemId}
    </select>
    <resultMap id="selectKnowledgeAndGameMap" type="cn.edu.csu.ycepspring.entity.dto.KnowledgeAndGame">
        <id property="id" column="knowledge_id"/>
        <result property="imgSrc" column="img_src"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="desc" column="description"/>
        <association property="game" javaType="cn.edu.csu.ycepspring.entity.dto.GameVO"
                     select="selectOneGameByKnowledgeId" column="knowledge_id"/>
    </resultMap>
    <select id="selectOneGameByKnowledgeId" resultMap="selectOneGameByKnowledgeIdMap">
        select *
        from game
        where knowledge_id = #{knowledgeId}
        order by game_id desc limit 1;
    </select>
    <resultMap id="selectOneGameByKnowledgeIdMap" type="cn.edu.csu.ycepspring.entity.dto.GameVO">
        <id property="id" column="game_id"/>
        <result property="imgSrc" column="img_src"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="desc" column="description"/>
    </resultMap>
    <select id="selectKindNameByItemId" resultType="java.lang.String">
        select k.kind_name
        from item as i
                 inner join kind as k on i.kind_id = k.kind_id
        where i.item_id = #{itemId};
    </select>
</mapper>