@media (min-width: 1024px) {
  .container {
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    background-image: url("../../assets/images/bgi.jpg");
    background-size: cover;
    background-repeat: repeat;
  }
}

.main{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;

  .left{
    width:20%;
    height:500px;
    background-color: #a1a1a1;
  }
  .right{
    width:77%;
    height:1000px;
    background-color: #e2e2e2;
  }

}
