@media (min-width: 1024px) {
  .container {
    min-height: 100vh;
    //padding-top: 50px;
    display: flex;
    align-items: center;
    //background-color: #f1f1f1;
    background-image: url('../../assets/images/触碰手指bgi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@mixin main-button {
  margin-right: 20px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  background-color: #446dde;
  cursor: pointer;
  &:hover {
    background-color: #007bff;
  }
}

.main {
  width: 95%;
  margin: 0 auto;
  .header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: #250c0c;
    justify-content: space-between;
    width: 100%;
    .title {
      display: flex;
      .text {
        margin-top: 20px;
        margin-left: 70px;
        font-family: 华文行楷, sans-serif;
        font-size: 22px;
      }
      img {
        margin-left: 40px;
        height: 60px;
      }
    }
    .title-items{
      width: 850px;
      display: flex;
      .title-item{
        width: 65px;
        height: 60px;
        padding-top: 3px;
        padding-bottom: 2px;
        margin-right: 50px;
        margin-bottom: 2px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
        cursor: pointer;
        p{
          font-size: 12px;
          color: #363636;
        }
        &:hover{
          background-color: rgba(255, 255, 255, 0.7);
          border-radius: 10px;
        }
        &.selected{
          background-color: rgba(255, 255, 255, 0.7);
          border-radius: 10px;
        }
        &.level2:hover{
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 10px;
        }
      }
    }
    .actions {
      button {
        @include main-button;
      }
      .guide-icon {
        position: absolute;
        top: 10px;
        width: 30px;
        left: 1345px;
      }
    }
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: left;
    margin: 0 auto 20px;
    .left {
      flex: 0 0 150px; /* 设置固定宽度为150px，不伸缩 */
      background-color: #ffffff;
      padding: 20px 10px;
      width: 150px;
      .tac {
        width: 100%;
        .el-menu {
          border: none;
          .el-menu-item {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 10px;
          }
        }
      }
    }
    .middle {
      bottom: 0; /* 将底部对齐 */
      right: 0; /* 将右边对齐 */
      width: 1060px; /* 设置一个固定宽度 */
      height: 750px;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 20px;
      text-align: center;
      .steps-bar{
        height:75px;
        width: 100%;
        padding: 20px 0 0;
        background: #ffffff;
        border-bottom: solid 2px rgba(0,0,0,.12);
        .steps{
          display: flex;
          height: 55px;
          .steps-item{
            cursor: pointer;
            .steps-item-container{
              width: 170px;
              display: flex;
              justify-content: center;
              align-items: center;
              .steps-item-icon{
                width: 32px;
                height: 32px;
                margin-right: 8px;
                font-size: 16px;
                line-height: 32px;
                text-align: center;
                border: 1px solid rgba(0,0,0,.25);
                border-radius: 32px;
                -webkit-transition: background-color .3s,border-color .3s;
                transition: background-color .3s,border-color .3s;
                .steps-text{
                  font-size: 16px;
                  font-weight: 500;
                  color: rgba(0,0,0,.25);
                }
              }
              .steps-item-content{
                .steps-item-title{
                  font-size: 16px;
                  font-weight: 500;
                  color:rgba(0,0,0,.25);
                }
                .steps-item-description{
                  font-size: 12px;
                  position: absolute;
                  opacity: .59;
                  color:rgba(0,0,0,.25);
                }
              }
            }
            &.selected{
              border-bottom: 2px solid $basic_color;
            }
            &:hover,&.selected{
              .steps-item-container{
                .steps-item-icon{
                  border: 1.3px solid rgba(44,136,245,.65)!important;
                  background: linear-gradient(90deg,rgba(114,213,253,.2) 0%,rgba(80,156,246,.2) 68%,rgba(35,130,242,.2) 100%);
                  .steps-text{
                    font-size: 16px;
                    font-weight: 600;
                    color: #1890ff;
                  }
                }
                .steps-item-content{
                  .steps-item-title{
                    color: #1a1b49;
                  }
                  .steps-item-description{
                    color: #1a1b49;
                  }
                }
              }

            }
          }
        }

      }
      .el-scrollbar {
        height: 710px;
        .title {
          text-align: left;
          margin-top: 18px;
          margin-bottom: 20px;
        }
        .paper {
          width: 96%;
          margin: 0 auto;
          .aiBtn {
            cursor:pointer;
            display: flex;
            margin-top: 10px;
            margin-right: 15px;
            .ai-icon{
              width: 35px;
              height: 35px!important;
              margin-right: 5px;
            }
            .text{
              line-height:35px;
              opacity: .5;
            }
            &:hover{
              scale: 1.1;
              transition-duration: .2s;
            }
          }
          .el-form {
            margin: 25px auto;
            max-width: 935px;
            .el-form-item {
              margin-top: 20px;
              .el-tag, button {
                margin-right: 10px;
                margin-bottom: 10px;
                margin-top: 5px;
              }
            }
            .el-input {
              width: 700px
            }
            .chapter-name {
              display: block;
              width: 100%;
              font-weight: 550;
              text-align: left;
              margin-bottom: 10px;
            }
          }
          .paper-top {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            .info {
              display: flex;
              flex-direction: column;
              .title {
                margin-top: 10px;
                margin-left: 10px;
                margin-bottom: 10px;
                font-family: coca_cola, sans-serif;
                font-size: 20px;
              }
              .desc {
                margin-left: 10px;
                width: 550px;
                text-align: left;
                color: #8f8f8f;
                font-family: "楷体", sans-serif;
              }
            }

            img {
              height: 120px;
              margin-right: 10px;
            }
          }
          .next{
            @include main-button;
          }
        }
        .paper.intro{
          .info{
            @include basic_font;
            font-size: 18px;
            font-weight: 550;
            box-shadow:0 0 5px 1px rgba(0,0,0,0.05);
            background-color: rgb(234,239,243);
            .text{
              height:35px;
              line-height: 35px;
              font-family: coca_cola, sans-serif;
              background-color: rgb(92,118,155);
              color: #ffffff;
            }
            .image{
              border-radius:10px;
              overflow: hidden;
              text-align: center;
            }
          }
          button{
            margin-top: 10px;
            @include main-button;
          }
        }
        .paper-content {
          margin: 20px auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding: 30px;
          color: #222226;
          hr {
            width: 100%;
          }
          //background-color: #a1a1a1;
          .block1 {
            width: 100%;
            height: 40px;
            margin-bottom: 0;
            padding-bottom: 0;
            display: flex;
            justify-content: space-between;
            .text1 {
              font-size: 18px;
              color: #a1a1a1;
            }
            .text2 {
              font-weight: 550;
              font-size: 17px;
              color: #696969;
            }
          }
          .block2 {
            width: 100%;
            .text1 {
              line-height: 60px;
              font-size: 24px;
              font-weight: 600;
            }
            .text2 {
              font-family: "楷体", sans-serif;
              font-size: 20px;
              line-height: 50px;
            }
            .text3 {
              font-size: 16px;
              font-family: "华文楷体", sans-serif;
            }
          }
          .block3 {
            text-align: left;
            .text1 {
              font-weight: 550;
              margin-top: 10px;
            }
            .text2{
              text-indent:2em;
            }
          }
          .block4 {
            text-align: left;
            .text1 {
              font-size: 18px;
              height: 50px;
              line-height: 50px;
              font-weight: 550;
            }
            .text2{
              text-indent:2em;
            }
          }
        }
      }
      .btn-container {
        margin-top: 5px;
        button {
          @include main-button;
        }
      }
    }
    .right {
      position: absolute;
      width: 390;
      overflow: auto;
      cursor: default; /* 设置鼠标样式为水平调整 */
      background-color: white;
      border-radius: 5px;
      margin-right: 30px;
      .title {
        display: flex;
        margin-bottom: 20px;
        .chat-icon{
          width:30px;
          height:30px;
        }
        .text {
          font-family: coca_cola, sans-serif;
          margin-left: 10px;
          font-size: 18px;
          color: #3f3f3f;
        }
        .topic {
          margin-left: 20%;
          display: flex;
        }
      }

      .chat-box {
        min-height: 690px;
        padding: 10px;
        background-color: #fff;
        // box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
        .message-container {
          margin-top: 10px;
          background-image: linear-gradient(to right, #103c17, #64e9ff);
          padding: 4px;
          &.user{
            border-radius: 15px 15px 0 15px;
          }
          &.ai{
            border-radius: 15px 15px 15px 0;
          }
          .message {
            padding: 8px;
            //border-width: 3px;
            border: none;
            background-color: #ffffff;
            //border-image: linear-gradient(to right, #6157ff, #ee49fd) 1 round;
            //border-image: linear-gradient(to right, #103c17, #64e9ff) 1 round;
            height: auto;
          }
          .message.ai {
            border-radius: 11px 11px 11px 0;
            span{
              width:100%;
              white-space: pre-wrap;
              word-break: break-word;
              border-radius: 5px;
              .chapter{
                text-indent: 2em;
              }
            }
          }
          .message.user {
            border-radius: 11px 11px 0 11px;
            p{
              width:100%;
              white-space: pre-wrap;
              word-break: break-word;
              border-radius: 5px;
            }
          }
        }
      }
      .user-input {
        display: flex;
        margin-top: 20px;
        padding-bottom: 10px;
        // input {
        //   flex-grow: 1;
        //   padding: 10px;
        //   border: 1px solid #ccc;
        //   border-radius: 5px 0 0 5px;
        //   font-size: 15px;
        //   &:focus {
        //     outline: 1px solid #797979;
        //   }
        // }
        // button {
        //   padding: 10px 20px;
        //   background-color: #4caf50;
        //   color: #fff;
        //   border: none;
        //   border-radius: 0 5px 5px 0;
        //   cursor: pointer;
        // }
        .refresh {
          margin-left: 12%;
          padding-top: 5px;
          display: flex;
          &:hover {
            transition: 0.5s;
            color: #fa4753;
          }
        }
        .search {
          margin-left: 5%;
          padding-top: 5px;
          display: flex;
          &:hover {
            transition: 0.5s;
            color: aqua;
          }
        }
        .input {
          margin-left: 5%;
          width: 60%;
          height: 30px;
          border: 2px solid transparent;
          outline: none;
          border-bottom: 2px solid white;
          caret-color: white;
          background-color: white;
          padding-bottom: -40px;
          transition: 0.5s linear;
          // font-family: monospace;
          font-size: 18px;
          letter-spacing: 1px;
        }

        .input:focus {
          border-bottom: 2px solid #8abcd1;
          caret-color: #8abcd1;
          color: #000000;
          // box-shadow: 4px 4px 10px #070707;
        }

        .input:focus::placeholder {
          transition: 0.5s linear;
          color: #000000;
        }
      }
    }

    .resizeable {
      cursor: ew-resize; /* 设置鼠标样式为水平调整 */
    }
  }
  .el-dialog {
    img {
      margin: 0 auto;
      width: 70%;
    }
  }
}
